{%extends 'template.html'%}
{%import 'macros.html' as macros%}
{%import 'bootstrap/wtf.html' as wtf%}
{%block tittle%}
    {{super()}}
     Bienvenido
{%endblock%}

{%block container%}
    {%if user_name%}
        <h1>Bienvenido {{user_name | capitalize}}</h1>
    {%endif%}
    {%if user_ip%}
        <h3>Esta es su ip {{user_ip}}</h3>
        <br>
        <div class="container">
            {{wtf.quick_form(login_form)}}
        </div>
        {%for todo in todos%}
        {{macros.render_todo(todo)}}
        {%endfor%}
    {%else%}
        <a href="{{url_for('index')}}">Regresar</a>
    {%endif%}
{%endblock%}