{%extends 'bootstrap/base.html'%}

{%block head%}
    {{super()}}
    <title>
        {%block tittle%}
            Platzi
        {%endblock%}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">

{%endblock%}


{%block body%}
    {%block navbar%}
        {%include 'navbar.html'%}

    {%endblock%}
    {%for message in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {%endfor%}
    {%block container%}
    {%endblock%}
    {% block scripts %}
    {{ super() }}
{% endblock %}
{%endblock%}
